@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&family=Martel+Sans:wght@200;300;400;600;700;800;900&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: "Martel Sans", sans-serif;
}


body {
    background-color: black;
}

.main {
    background-image: url(assets/images/backgroung.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: max(100vw, 1500px);
    height: 80vh;
    position: relative;
}

.main .box {
    background-color: black;
    height: 80vh;
    width: 100%;
    opacity: 0.69;
    position: absolute;
    top: 0;

}

nav {
    margin: auto;
    max-width: 80vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 80px;
    padding: 5px;
}

nav img {
    height: 40px;
    position: relative;
    z-index: 10;
}

nav button {
    position: relative;
    z-index: 10;
}

.hero {
    color: white;
    position: relative;
    z-index: 10;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: calc(100% - 90px);
    gap: 10px;
    padding: 0 40px;

    font-family: "Martel Sans", sans-serif;
}


.hero> :nth-child(1) {
    font-weight: 900;
    font-size: 48px;
    text-align: center;
}

.hero> :nth-child(2) {
    font-weight: 500;
    font-size: 20px;
    text-align: center;
}

.hero> :nth-child(3) {
    font-weight: 400;
    font-size: 16px;
    text-align: center;
}

.seperation {
    height: 15px;
    background-color: gray;
}


.btn {
    padding: 3px 9px;
    font-weight: bold;
    border-radius: 4px;
}

.btn-lang {
    background-color: rgba(0, 0, 0, 0.4);
    border: 1px solid rgba(255, 255, 255, 0.35);
    color: white;
    padding: 4px 28px 1px 28px;
    font-weight: 700;
    font-size: 14px;
}

.btn-red-si {
    background-color: red;
    border: 1px solid rgba(255, 255, 255,0);
    color: white;
    padding: 2px 12px;
    font-size: 14px;
}

.hero-buttons input {
    font-size: 14px;
    color: white;
    font-weight: 600;
    padding: 15px 86px 15px 7px;
    border-radius: 4px;
    background-color: rgba(0, 0, 0, 0.2);
    border: solid 1px rgba(255, 255, 255, 0.35);
}

.hero-buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
}

.btn-red-gs {
    background-color: red;
    color: white;
    font-size: 20px;
    padding: 8px 28px;
}