@import url('https://fonts.googleapis.com/css2?family=Martel+Sans:wght@200;300;400;600;700;800;900&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: "Poppins", sans-serif;
}


body {
    background-color: black;
}

.main {
    background-image: url(assets/images/backgroung.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: max(100vw, 1200px);
    height: 100vh;
    position: relative;
}

.main .box {
    background-color: black;
    height: 100vh;
    width: 100%;
    opacity: 0.69;
    position: absolute;
    top: 0;

}

nav {
    margin: auto;
    max-width: 80vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 60px;
    padding: 10px;
}

nav img {
    height: 40px;
    position: relative;
    z-index: 10;
}

nav button {
    position: relative;
    z-index: 10;
}

.hero {
    color: white;
    position: relative;
    z-index: 10;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: calc(100% - 60px);
    gap: 10px;
    padding: 0 40px;

    font-family: "Martel Sans", sans-serif;
}

.hero> :nth-child(1) {
    font-weight: 900;
    font-size: 48px;
    text-align: center;
}

.hero> :nth-child(2) {
    font-weight: 500;
    font-size: 20px;
    text-align: center;
}

.hero> :nth-child(3) {
    font-weight: 400;
    font-size: 16px;
    text-align: center;
}

.seperation {
    height: 2vh;
    background-color: gray;
}